modules = ["web", "python-3.12", "lua-5.2", "nodejs-20"]
run = "run.py"

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "rustc"]

[deployment]
run = ["sh", "-c", "run.py"]

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 38638451
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run.py"

[[ports]]
localPort = 5000
externalPort = 80
