{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="my-4">Fines</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for fine in fines %}
                <tr>
                    <td>{{ fine.name }}</td>
                    <td>{{ fine.description }}</td>
                    <td>${{ "%.2f"|format(fine.amount) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
