<table class="table table-striped table-hover table-sm">
    <thead class="table-dark">
        <tr>
            <th scope="col">Log ID</th>
            <th scope="col">Date</th>
            <th scope="col">User</th>
            <th scope="col">Tax Bracket</th>
            <th scope="col">Balance Before</th>
            <th scope="col">Rate Applied</th>
            <th scope="col">Amount Deducted</th>
            <th scope="col">Banking Tx ID</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs.items %}
        <tr>
            <td>{{ log.id }}</td>
            <td>{{ log.deduction_date.strftime('%Y-%m-%d %H:%M:%S') if log.deduction_date else 'N/A' }}</td>
            <td>{{ log.taxed_user.username if log.taxed_user else 'N/A' }}</td>
            <td>{{ log.tax_bracket.name if log.tax_bracket else 'N/A' }}</td>
            <td>{{ "{:,.2f}".format(log.balance_before_deduction) }}</td>
            <td>{{ "{:.2f}".format(log.tax_rate_applied) }}%</td>
            <td class="text-danger">{{ "{:,.2f}".format(log.amount_deducted) }}</td>
            <td>
                <a href="{{ url_for('admin.manage_transactions') }}?transaction_id={{ log.banking_transaction_id }}" target="_blank" rel="noopener noreferrer">
                    {{ log.banking_transaction_id }}
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="8" class="text-center">No tax deduction logs found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
