{% macro dot_services_dropdown(current_user, UserRole) %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dotDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        DOT Services
    </a>
    <ul class="dropdown-menu" aria-labelledby="dotDropdown">
        <li><a class="dropdown-item" href="{{ url_for('dot.my_tickets') }}">My Tickets</a></li>
        <li><a class="dropdown-item" href="{{ url_for('dot.registered_vehicles') }}">My Registered Vehicles</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ url_for('dot.apply_for_permit') }}">Apply for New Permit</a></li>
        <li><a class="dropdown-item" href="{{ url_for('dot.my_permit_applications') }}">My Permit Applications</a></li>

        {% if current_user.role in [UserRole.OFFICER, UserRole.ADMIN] %}
            <li><hr class="dropdown-divider"></li>
            <li><h6 class="dropdown-header">Officer Tools</h6></li>
            <li><a class="dropdown-item" href="{{ url_for('dot.issue_ticket') }}">Issue Ticket</a></li>
            <li><a class="dropdown-item" href="{{ url_for('dot.list_issued_tickets') }}">My Issued Tickets</a></li>
            <li><a class="dropdown-item" href="{{ url_for('dot.review_permit_applications_list') }}">Review Permit Apps</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('dot.record_inspection') }}">Record Inspection</a></li>
            <li><a class="dropdown-item" href="{{ url_for('dot.list_my_conducted_inspections') }}">My Conducted Inspections</a></li>
        {% endif %}
    </ul>
</li>
{% endmacro %}
